<form class="{{cssClass}}" autocomplete="off">
   <header class="sheet-header">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
      <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
   </header>
   <!-- make a separator -->
   <div class="separator"></div>

   <div class="mb-100 flex flex-row justify-between">
      <div class="flex flex-col">
         <table id="earth-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-earth rings-traits no-borders m0">{{localize "l5r4ec.rings.earth"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/earth.svg"
                     alt="le symbole de l'anneau de la terre"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>
            </tr>
            <tr>
               <td>
                  
                  <button class="roll-dice mr-3" data-name="stamina" data-value="{{data.traits.stamina}}" data-roll-type="trait">{{localize "l5r4ec.traits.stamina"}}</button>
                  
               </td>
               <td><div id="traits-inputs-earth">
                     <input
                        type="number"
                        name="data.traits.stamina"
                        value="{{data.traits.stamina}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  {{localize "l5r4ec.traits.willpower"}}
               </td>
               <td><div id="traits-inputs-earth">
                     <input
                        type="number"
                        name="data.traits.willpower"
                        value="{{data.traits.willpower}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
            </tr>
         </table>

         <table id="water-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-water rings-traits no-borders m0">{{localize "l5r4ec.rings.water"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/water.svg"
                     alt="le symbole de l'anneau de l'eau"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>
            </tr>
            <tr>
               <td>
                  {{localize "l5r4ec.traits.strength"}}
               </td>
               <td><div id="traits-inputs-water">
                     <input
                        type="number"
                        name="data.traits.strength"
                        value="{{data.traits.strength}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  {{localize "l5r4ec.traits.perception"}}
               </td>
               <td><div id="traits-inputs-water">
                     <input
                        type="number"
                        name="data.traits.perception"
                        value="{{data.traits.perception}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
            </tr>
         </table>
         <table id="void-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-void rings-traits no-borders m0">{{localize "l5r4ec.rings.void"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/void.svg"
                     alt="le symbole de l'anneau du vide"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>
            </tr>
            <tr>
               <td>
                  {{localize "l5r4ec.voidPoints"}}
               </td>
               <td>
                 <div id="traits-inputs-void">
                  <input
                     type="number"
                     name="data.void_points.spend"
                     value="{{data.void_points.spend}}"
                     data-type="Number"
                     min="0"
                     placeholder="0"
                  />
               
                  
               </td>
               </div>
            </tr>
         </table>
      </div>

      <div id="rings-section" class="flex flex-col text-xl bold justify-center align-center"><ul class="p-0">
            <li class="flex flex-row w-full justify-center align-center">
               <div id="earth-ring-section" class="relative">
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/earth.svg"
                     alt="le symbole de l'anneau de la terre"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                  <p class="text-earth top-50 absolute right-150 w-64px text-center">{{localize "l5r4ec.rings.earth"}}</p>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_earth.svg"
                     alt=""
                     class="text-earth absolute right-150 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-earth"><input
                        type="number"
                        name="data.rings.earth"
                        value="{{data.rings.earth}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div></div>
               <div id="air-ring-section" class="relative"><img
                     src="/systems/l5r4ec/assets/icons/rings/air.svg"
                     alt="le symbole de l'anneau de l'air"
                     height="128"
                     width="128"
                     class="no-borders"
                  /><p class="text-air absolute top-50 left-150 w-64px text-center">{{localize "l5r4ec.rings.air"}}</p>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_air.svg"
                     alt=""
                     class="text-earth absolute left-150 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-air"><input
                        type="number"
                        name="data.rings.air"
                        value="{{data.rings.air}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div>
               </div>
            </li>
            <li class="flex flex-row w-full mt-n20 justify-center align-center">
               <div id="water-ring-section" class="relative mr-30"><img
                     src="/systems/l5r4ec/assets/icons/rings/water.svg"
                     alt="le symbole de l'anneau de l'eau"
                     height="128"
                     width="128"
                     class="no-borders"
                  /><p class="text-water absolute top-140 w-64px text-center right-130">{{localize "l5r4ec.rings.water"}}</p>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_water.svg"
                     alt=""
                     class="text-earth absolute right-130 top-90 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-water">
                     <input
                        type="number"
                        name="data.rings.water"
                        value="{{data.rings.water}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div>

               </div>
               <div id="fire-ring-section" class="relative ml-30"><img
                     src="/systems/l5r4ec/assets/icons/rings/fire.svg"
                     alt="le symbole de l'anneau du feu"
                     height="128"
                     width="128"
                     class="no-borders"
                  /><p class="text-fire absolute top-140 w-64px text-center left-130">{{localize "l5r4ec.rings.fire"}}</p>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_fire.svg"
                     alt=""
                     class="text-earth absolute left-130 top-90 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-fire"><input
                        type="number"
                        name="data.rings.fire"
                        value="{{data.rings.fire}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div>
               </div>

            </li>
            <li class="flex flex-col justify-center align-center mt-n60">
               <div id="void-ring-section" class="relative">
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/void.svg"
                     alt="le symbole de l'anneau du vide"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                  <p class="text-void text-center absolute left-24 top-190 w-80px">{{localize "l5r4ec.rings.void"}}</p>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_void.svg"
                     alt=""
                     class="text-earth absolute left-24 top-125 no-borders"
                     height="80"
                     width="80"
                  />
                  <div id="ring-inputs-void">
                     <input
                        type="number"
                        name="data.rings.void"
                        value="{{data.rings.void}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div>
               </div>

            </li>
         </ul></div>
      <div class="flex flex-col">
         <table id="air-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-air rings-traits no-borders m0">{{localize "l5r4ec.rings.air"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/air.svg"
                     alt="le symbole de l'anneau de l'air"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>

            </tr>
            <tr>
               <td><div id="traits-inputs-air">
                     <input
                        type="number"
                        name="data.traits.reflexes"
                        value="{{data.traits.reflexes}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
               <td>
                  {{localize "l5r4ec.traits.reflexes"}}
               </td>
            </tr>
            <tr>
               <td><div id="traits-inputs-air">
                     <input
                        type="number"
                        name="data.traits.awareness"
                        value="{{data.traits.awareness}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
               <td>
                  {{localize "l5r4ec.traits.awareness"}}
               </td>
            </tr>
         </table>

         <table id="fire-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-fire rings-traits no-borders m0">{{localize "l5r4ec.rings.fire"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/fire.svg"
                     alt="le symbole de l'anneau du feu"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>
            </tr>
            <tr>
               <td><div id="traits-inputs-fire">
                     <input
                        type="number"
                        name="data.traits.agility"
                        value="{{data.traits.agility}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
               <td>
                  {{localize "l5r4ec.traits.agility"}}
               </td>
            </tr>
            <tr>
               <td><div id="traits-inputs-fire">
                     <input
                        type="number"
                        name="data.traits.intelligence"
                        value="{{data.traits.intelligence}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     />
                  </div>
               </td>
               <td>
                  {{localize "l5r4ec.traits.intelligence"}}
               </td>
            </tr>
         </table>
      </div>
   </div>
   <div>
      <table>
         <!-- make a skill table -->
         <tr>
         <th>
            Skills :
         </th>
         <th>
            level :
         </th>
         <th>
          Stat used : 
         </th> 
         </tr>
         <tr>
            <td><button class="roll-dice mr-3" data-roll-type="skill">Kenjutsu</button>
                  </td>
            <td><input
                        type="number"
                        name="data.skills.weapon.kenjutsu"
                        value="{{data.skills.weapon.kenjutsu}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></td>
                      <td>
                        <select name="data.skills.weapon.kenjutsu">
                           <option value="reflexes">Reflexes</option>
                           <option value="agility">Agility</option>
                           <option value="void">Void</option>
                        </select>

                     </td>
         </tr>

      </table>
   </div>

   <div>

      <table>
         <th>
            Items :
         </th>

         <!-- for each item -->
         {{#each items as |item|}}
            <tr>
               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.name"
                     value="{{item.name}}"
                     data-type="String"
                     placeholder="name"
                  />
               </td>

               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.description"
                     value="{{item.system.description}}"
                     data-type="String"
                     placeholder="description"
                  />
               </td>
            </tr>
         {{/each}}
      </table>
   </div>

</form>