<form class="{{cssClass}} background-paper" autocomplete="off">
   <header class="sheet-header flex flex-col ">
      <div class="w-full flex justify-between ">
         <div id="actor_img_div" class="flex align-center justify-center"><img id="actor_img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250" width="250" /></div>
         
         <div class="flex flex-col flex-1 justify-center px-15">
            <div class="flex flex-col justify-between">
            <h1>
               <input class="{{data.clan}}-inputs" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
            <div class="flex justify-around">
               <div class="flex flex-col flex-1">
                  <div class="flex flex-col">
                     <label for="data.clans">{{localize "l5r4ec.clans.clan"}}</label>
                     <select class="{{data.clan}}-inputs" name="data.clan">
                  {{#each data.clans as |id cat|}}
                     <option value="{{id}}" {{#if (eq id ../data.clan)}}selected{{/if}}>{{localizeClan id}}</option>
                  {{/each}}
                     </select>
                  </div>
                  <div class="flex flex-col">
                  <label for="test">{{localize "l5r4ec.families.family"}}</label>
                  <select class="{{data.clan}}-inputs" name="data.family">
                  {{#each data.families as |id cat|}}
                     <option value="{{id}}" {{#if (eq id ../data.family)}}selected{{/if}}>{{localizeFamily id}}</option>
                  {{/each}}
                  </select>
                  </div>
                  <div class="flex flex-col">
                  <label for="test">{{localize "l5r4ec.schools.school"}}</label>
                  <input class="{{data.clan}}-inputs" type="text" name="data.school" value="{{data.school}}">
                  </div>
               </div>
               <div class="flex align-center  " id="clan-images">
                  <img  src="systems/l5r4ec/assets/icons/clans/{{data.clan}}.svg" alt="">

               </div>  
               </div> 
               </div>
         </div>
         <div class="flex flex-col align-center w-80px justify-center">
            <h1 class="flex flex-col ">
               <label for="data.insight.rank">{{localize "l5r4ec.insight"}}</label>
               <input  class="{{data.clan}}-inputs" id="insight_rank" type="number" name="data.insight.rank" id="insight" value="{{data.insight.rank}}">
            </h1>
            <div class="flex flex-col">
                  <div class="flex flex-col">
                     <label for="data.insight.points">{{localize "l5r4ec.reputation"}}</label>
                     <input class="{{data.clan}}-inputs" type="number" name="data.insight.points" value="{{data.insight.points}}">
                  </div>
                  <div class="flex flex-col ">
                     <label for="test">{{localize "l5r4ec.xp.available"}}</label>
                     <input class="{{data.clan}}-inputs" type="number" name="data.xp" value="{{data.xp}}">
                     </div>
                  <div class="flex flex-col">
                     <label for="test">{{localize "l5r4ec.xp.total"}}</label>
                     <input class="{{data.clan}}-inputs" type="number" name="data.total_xp" value="{{data.total_xp}}">
                  </div>
               </div>   
         </div>
      </div>
      
   </header>
   <!-- make a separator -->
   <div class="separator"></div>

   <div class="mb-100 flex flex-row justify-between">
      <div class="flex flex-col w-140px">
         <div class="flex flex-col mb-20" id="earth-stats-table">
            <div class="flex rings-traits w-full justify-around mt-5">
               <h2 class="text-earth rings-traits no-borders m0">{{localize "l5r4ec.rings.earth"}}</h2>
               <img
                     src="/systems/l5r4ec/assets/icons/rings/earth.svg"
                     alt="le symbole de l'anneau de la terre"
                     height="32"
                     width="32"
                     class="no-borders"
                  />
            </div>
            <div class="flex justify-between w-full align-center my-5 px-4">

                  <button class="roll-dice mr-3" data-name="stamina" data-value="{{data.traits.stamina}}" data-roll-type="trait">{{localize "l5r4ec.traits.stamina"}}</button>

               <div id="traits-inputs-earth">
                     <input
                        type="number"
                        name="data.traits.stamina"
                        value="{{data.traits.stamina}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
                  </div>
               
            </div>
            <div class="flex justify-between w-full align-center my-5 px-4">
               <button class="roll-dice mr-3" data-name="willpower" data-value="{{data.traits.willpower}}" data-roll-type="trait">{{localize "l5r4ec.traits.willpower"}}</button>
                  
               
               <div id="traits-inputs-earth">
                     <input
                        type="number"
                        name="data.traits.willpower"
                        value="{{data.traits.willpower}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
                  </div>
               
            </div>
         </div>
         <!-- remake the water stat by using the same template -->
         <div class="flex flex-col mb-20" id="water-stats-table">
   <div class="flex rings-traits w-full justify-around mt-5">
      <h2 class="text-water rings-traits no-borders m0">{{localize "l5r4ec.rings.water"}}</h2>
      <img
         src="/systems/l5r4ec/assets/icons/rings/water.svg"
         alt="le symbole de l'anneau de l'eau"
         height="32"
         width="32"
         class="no-borders"
      />
   </div>
   <div class="flex justify-between w-full align-center my-5 px-4">
      <button class="roll-dice mr-3" data-name="strength" data-value="{{data.traits.strength}}" data-roll-type="trait">{{localize "l5r4ec.traits.strength"}}</button>
      <div id="traits-inputs-water">
         <input
            type="number"
            name="data.traits.strength"
            value="{{data.traits.strength}}"
            data-type="Number"
            min="0"
            max="99"
            placeholder="0"
         />
      </div>
   </div>
   <div class="flex justify-between w-full align-center my-5 px-4">
      <button class="roll-dice mr-3" data-name="perception" data-value="{{data.traits.perception}}" data-roll-type="trait">{{localize "l5r4ec.traits.perception"}}</button>
         
      
      <div id="traits-inputs-water">
         <input
            type="number"
            name="data.traits.perception"
            value="{{data.traits.perception}}"
            data-type="Number"
            min="0"
            max="99"
            placeholder="0"
         />
      </div>
   </div>
</div>





<!--
         <table id="void-stats-table">
            <tr>
               <th class="rings-traits"><h2 class="text-void rings-traits no-borders m0">{{localize "l5r4ec.rings.void"}}</h2></th>
               <th><img
                     src="/systems/l5r4ec/assets/icons/rings/void.svg"
                     alt="le symbole de l'anneau du vide"
                     height="32"
                     width="32"
                     class="no-borders"
                  /></th>
            </tr>
            <tr>
               <td>
                  {{localize "l5r4ec.voidPoints"}}
               </td>
               <td>
                 <div id="traits-inputs-void">
                  <input
                     type="number"
                     name="data.void_points.spend"
                     value="{{data.void_points.spend}}"
                     data-type="Number"
                     min="0"
                     placeholder="0"
                  />
               
                  
               </td>
               </div>
            </tr>
         </table> -->
      </div>

      <div id="rings-section" class="flex flex-col text-xl bold justify-center align-center"><ul class="p-0">
            <li class="flex flex-row w-full justify-center align-center">
               <div id="earth-ring-section" class="relative">
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/earth.svg"
                     alt="le symbole de l'anneau de la terre"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                 <!-- <p class="text-earth top-50 absolute right-150 w-64px text-center">{{localize "l5r4ec.rings.earth"}}</p> -->
                  <button class="roll-dice  text-earth top-50 absolute right-150 w-64px text-center" data-name="earth" data-value="{{data.rings.earth}}" data-roll-type="ring">{{localize "l5r4ec.rings.earth"}}</button>
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_earth.svg"
                     alt=""
                     class="text-earth absolute right-150 top-0 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-earth"><input
                        type="number"
                        name="data.rings.earth"
                        value="{{data.rings.earth}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     /></div></div>
               <div id="air-ring-section" class="relative"><img
                     src="/systems/l5r4ec/assets/icons/rings/air.svg"
                     alt="le symbole de l'anneau de l'air"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                  <button class="roll-dice  text-air absolute top-50 left-150 w-64px text-center" data-name="air" data-value="{{data.rings.air}}" data-roll-type="ring">{{localize "l5r4ec.rings.air"}}</button>
                <!--  <p class="text-air absolute top-50 left-150 w-64px text-center">{{localize "l5r4ec.rings.air"}}</p> -->
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_air.svg"
                     alt=""
                     class="text-air absolute left-150 top-0 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-air"><input
                        type="number"
                        name="data.rings.air"
                        value="{{data.rings.air}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></div>
               </div>
            </li>
            <li class="flex flex-row w-full mt-n20 justify-center align-center">
               <div id="water-ring-section" class="relative mr-30"><img
                     src="/systems/l5r4ec/assets/icons/rings/water.svg"
                     alt="le symbole de l'anneau de l'eau"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                   <button class="roll-dice  text-water absolute top-140 w-64px text-center right-130" data-name="water" data-value="{{data.rings.water}}" data-roll-type="ring">{{localize "l5r4ec.rings.water"}}</button>
                  <!-- <p class="text-water absolute top-140 w-64px text-center right-130">{{localize "l5r4ec.rings.water"}}</p> -->
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_water.svg"
                     alt=""
                     class="text-earth absolute right-130 top-90 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-water">
                     <input
                        type="number"
                        name="data.rings.water"
                        value="{{data.rings.water}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     /></div>

               </div>
               <div id="fire-ring-section" class="relative ml-30"><img
                     src="/systems/l5r4ec/assets/icons/rings/fire.svg"
                     alt="le symbole de l'anneau du feu"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                  <button class="roll-dice  text-fire absolute top-140 w-64px text-center left-130" data-name="fire" data-value="{{data.rings.fire}}" data-roll-type="ring">{{localize "l5r4ec.rings.fire"}}</button>
           <!--       <p class="text-fire absolute top-140 w-64px text-center left-130">{{localize "l5r4ec.rings.fire"}}</p> -->
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_fire.svg"
                     alt=""
                     class="text-earth absolute left-130 top-90 no-borders"
                     height="64"
                     width="64"
                  />
                  <div id="ring-inputs-fire"><input
                        type="number"
                        name="data.rings.fire"
                        value="{{data.rings.fire}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     /></div>
               </div>

            </li>
            <li class="flex flex-col justify-center align-center mt-n60">
               <div id="void-ring-section" class="relative">
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/void.svg"
                     alt="le symbole de l'anneau du vide"
                     height="128"
                     width="128"
                     class="no-borders"
                  />
                  <button class="roll-dice  text-void text-center absolute left-24 top-190 w-80px" data-name="void" data-value="{{data.rings.void}}" data-roll-type="ring">{{localize "l5r4ec.rings.void"}}</button>
                 <!-- <p class="text-void text-center absolute left-24 top-190 w-80px">{{localize "l5r4ec.rings.void"}}</p> -->
                  <img
                     src="/systems/l5r4ec/assets/icons/rings/kanji_void.svg"
                     alt=""
                     class="text-earth absolute left-24 top-125 no-borders"
                     height="80"
                     width="80"
                  />
                  <div id="ring-inputs-void">
                     <input
                        type="number"
                        name="data.rings.void"
                        value="{{data.rings.void}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     /></div>
               </div>

            </li>
         </ul></div>
      <div class="flex flex-col w-140px">
         <div class="flex flex-col mb-20" id="air-stats-table">
            <div class="flex rings-traits w-full justify-around mt-5">
              <h2 class="text-air rings-traits no-borders m0">{{localize "l5r4ec.rings.air"}}</h2>
               <img
                     src="/systems/l5r4ec/assets/icons/rings/air.svg"
                     alt="le symbole de l'anneau de l'air"
                     height="32"
                     width="32"
                     class="no-borders"
                  />

            </div>
            <div class="flex justify-between w-full align-center my-5 px-4">
               <div id="traits-inputs-air">
                     <input
                        type="number"
                        name="data.traits.reflexes"
                        value="{{data.traits.reflexes}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
                  </div>
               
               <button class="roll-dice mr-3" data-name="reflexes" data-value="{{data.traits.reflexes}}" data-roll-type="trait">{{localize "l5r4ec.traits.reflexes"}}</button>
            </div>
            <div class="flex justify-between w-full align-center my-5 px-4">
               <div id="traits-inputs-air">
                     <input
                        type="number"
                        name="data.traits.awareness"
                        value="{{data.traits.awareness}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
                  </div>
               
               <button class="roll-dice mr-3" data-name="awareness" data-value="{{data.traits.awareness}}" data-roll-type="trait">{{localize "l5r4ec.traits.awareness"}}</button>
                  
            </div>
         </div>

         <div class="flex flex-col " id="fire-stats-table">
            <div class="flex rings-traits w-full justify-around mt-5">
               <h2 class="text-fire rings-traits no-borders m0">{{localize "l5r4ec.rings.fire"}}</h2></th>
               <img
                     src="/systems/l5r4ec/assets/icons/rings/fire.svg"
                     alt="le symbole de l'anneau du feu"
                     height="32"
                     width="32"
                     class="no-borders"
                  />
            </div>
            
            <div class="flex justify-between w-full align-center my-5 px-4">
               <div id="traits-inputs-fire">
                     <input
                        type="number"
                        name="data.traits.agility"
                        value="{{data.traits.agility}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
               </div>
               <button class="roll-dice mr-3" data-name="agility" data-value="{{data.traits.agility}}" data-roll-type="trait">{{localize "l5r4ec.traits.agility"}}</button>
                  
            </div>
            
            <div class="flex justify-between w-full align-center my-5 px-4">
               <div id="traits-inputs-fire">
                     <input
                        type="number"
                        name="data.traits.intelligence"
                        value="{{data.traits.intelligence}}"
                        data-type="Number"
                        min="0"
                        max="99"
                        placeholder="0"
                     />
                  </div>
               
               <button class="roll-dice mr-3" data-name="intelligence" data-value="{{data.traits.intelligence}}" data-roll-type="trait">{{localize "l5r4ec.traits.intelligence"}}</button>
                
            </div>
         </div>
      </div>
   </div>
<div class="separator"></div>


<div class="char_tabs">
    <div class="char_tab" data-tab="char_tab1">Combat</div>
    <div class="char_tab" data-tab="char_tab2">Sorts</div>
    <div class="char_tab" data-tab="char_tab3">Compétences</div>
    <div class="char_tab" data-tab="char_tab4">Inventaire</div>
     <div class="char_tab" data-tab="char_tab5">Effets</div>
</div>

<div id="char_tab1" class="char_tab-content ">
    Combat

    <div class="flex">
      <!-- search in items all the items with the weapon type-->
      {{#each items as |item|}}
         {{#if (eq item.type "weapon")}}
            <div class="flex flex-col">
               <div class="flex flex-col">
                  <label for="data.items.{{@index}}.name">{{item.name}}</label>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.name"
                     value="{{item.name}}"
                     data-type="String"
                     placeholder="name"
                  />
               </div>

               <div class="flex flex-col">
                  <label for="data.items.{{@index}}.description">{{item.system.description}}</label>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.description"
                     value="{{item.system.description}}"
                     data-type="String"
                     placeholder="description"
                  />
               </div>
            </div>
         {{/if}}
      {{/each}}
    </div>
</div>
<div id="char_tab2" class="char_tab-content" style="display:none;">
    Sorts
</div>
<div id="char_tab3" class="char_tab-content" style="display:none;">
    Compétences
</div>
<div id="char_tab4" class="char_tab-content" style="display:none;">
   <table>
         <th>
            Items :
         </th>

        
         {{#each items as |item|}}
            <tr>
               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.name"
                     value="{{item.name}}"
                     data-type="String"
                     placeholder="name"
                  />
               </td>

               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.description"
                     value="{{item.system.description}}"
                     data-type="String"
                     placeholder="description"
                  />
               </td>
            </tr>
         {{/each}}
      </table> 
</div>
<div id="char_tab5" class="char_tab-content" style="display:none;">
   Effets
</div>







   <!--
   <div>
      <table>
         
         <tr>
         <th>
            Skills :
         </th>
         <th>
            level :
         </th>
         <th>
          Stat used : 
         </th> 
         </tr>
         <tr>
            <td><button class="roll-dice mr-3" data-roll-type="skill">Kenjutsu</button>
                  </td>
            <td><input
                        type="number"
                        name="data.skills.weapon.kenjutsu"
                        value="{{data.skills.weapon.kenjutsu}}"
                        data-type="Number"
                        min="0"
                        placeholder="0"
                     /></td>
                      <td>
                       

                     </td>
         </tr>

      </table>
   </div>

   <div>

      <table>
         <th>
            Items :
         </th>

        
         {{#each items as |item|}}
            <tr>
               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.name"
                     value="{{item.name}}"
                     data-type="String"
                     placeholder="name"
                  />
               </td>

               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.description"
                     value="{{item.system.description}}"
                     data-type="String"
                     placeholder="description"
                  />
               </td>
            </tr>
         {{/each}}
      </table> 
   </div>
-->
</form>