<form class="{{cssClass}}" autocomplete="off">
   <header class="sheet-header">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
      <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
   </header>
   <!-- make a separator -->
   <div class="separator"></div>

   <div class="central-col">
      <div class="rings">
         <div class="flex flex-col"><ul>
               <li class="flex flex-row"><div class="border"><p class="text-blue">Eau</p><img
                        src="/systems/l5r4ec/assets/icons/rings/water.svg"
                        alt="le symbole de l'anneau de l'eau"
                        height="128"
                        width="128"
                     />

                     
                     </li>
               <li class="flex flex-row"><div class="border">Terre</div><div>Air</div></li>
               <li class="flex flex-row"><div class="border">Vide</div></li>
            </ul></div>
      </div>
   </div>

   <div>
      <table>
         <tr>
            <th class="text-blue">{{localize "l5r4ec.rings.water"}}</th>
            <th>{{localize "l5r4ec.rings.earth"}}</th>
            <th>{{localize "l5r4ec.rings.fire"}}</th>
            <th>{{localize "l5r4ec.rings.air"}}</th>
            <th>{{localize "l5r4ec.rings.void"}}</th>

         </tr>
         <tr>
            <td>
               <input
                  class="select-on-focus"
                  type="number"
                  name="data.rings.water"
                  value="{{data.rings.water}}"
                  data-type="Number"
                  min="0"
                  placeholder="0"
               />
               <button class="roll-dice" data-stat="water" data-roll-type="trait">roll water</button>
            </td>
            <td>
               <input
                  class="select-on-focus"
                  type="number"
                  name="data.rings.earth"
                  value="{{data.rings.earth}}"
                  data-type="Number"
                  min="0"
                  placeholder="0"
               />
            </td>

            <td>
               <input
                  class="select-on-focus"
                  type="number"
                  name="data.rings.fire"
                  value="{{data.rings.fire}}"
                  data-type="Number"
                  min="0"
                  placeholder="0"
               />
            </td>
            <td>
               <input
                  class="select-on-focus"
                  type="number"
                  name="data.rings.air"
                  value="{{data.rings.air}}"
                  data-type="Number"
                  min="0"
                  placeholder="0"
               />
            </td>
            <td>
               <input
                  class="select-on-focus"
                  type="number"
                  name="data.rings.void"
                  value="{{data.rings.void}}"
                  data-type="Number"
                  min="0"
                  placeholder="0"
               />
            </td>
         </tr>
      </table>
      <h3>Traits</h3>
      <table>
         <th></th>
      </table>

      <table>
         <th>
            Items :
         </th>

         <!-- for each item -->
         {{#each items as |item|}}
            <tr>
               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.name"
                     value="{{item.name}}"
                     data-type="String"
                     placeholder="name"
                  />
               </td>

               <td>
                  <input
                     class="select-on-focus"
                     type="text"
                     name="data.items.{{@index}}.description"
                     value="{{item.system.description}}"
                     data-type="String"
                     placeholder="description"
                  />
               </td>
            </tr>
         {{/each}}
      </table>
   </div>

</form>